* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
    font-family: 'permanent_markerregular';
}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('webfonts/permanentmarker-regular-webfont.woff2') format('woff2'),
         url('webfonts/permanentmarker-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 2px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 4.25rem;
}

h1 {
    font-size: 2.5rem;
}

.display-text {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid black;*/
    width: 300px;
}

p {
    font-size: 1.5rem;
    /*border: 1px solid black;*/
}

button {
    background-color: mintcream;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 5px grey;
    /*margin: 0px 5px 5px;*/
    padding: 5px 5px;
    text-align: center;
    width: 5rem;
}

button:hover {
    opacity: 0.75;
}